img {
    height: auto;
    max-width: 50%;
}

.img .center {

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title.is-1.is-align-content-center {
    font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}